<li class="collection-item avatar" data-user-id="<%= comment.user.id %>">
  <% if comment.user.photo.blank? %>
    <%= image_tag "no_image.jpg", class: "circle responsive-image card-profile-image" %>
  <% else %>
    <img src="<%= comment.user.photo %>" alt="Foto profilo" class="circle responsive-image card-profile-image">
  <% end %>
  <% if comment.user.name.blank? %>
    <b>Anonimo: </b><%= comment.body %>
  <% else %>
    <b><%= comment.user.name %>: </b><%= comment.body %>
  <% end %>
</li>
