<div class="row">
  <div class="col s12">
    <% if !@future.all? &:blank? %>
      <h2>Eventi futuri:</h2>
      <ul class="collection">
        <% @future.each do |f| %>
          <li class="collection-item">
            <b><%= f.title %> </b>(<%= f.release_date %>)
            <%= link_to movie_destroy_path(f.id), method: :delete do %>
              <i class="material-icons right">delete_forever</i>
            <% end %>
          </li>
        <% end %>
      </ul>
    <% end %>
  </div>
</div>
<div class="row">
  <div class="col s12">
    <% if !@past.all? &:blank? %>
      <h2>Eventi passati:</h2>
      <ul class="collection">
        <% @past.each do |pt| %>
          <li class="collection-item">
            <b><%= pt.title %> </b>(<%= pt.release_date %>)
            <%= link_to movie_destroy_path(pt.id), method: :delete do %>
              <i class="material-icons right">delete_forever</i>
            <% end %>
          </li>
        <% end %>
      </ul>
    <% end %>
  </div>
  <% if (@past.all? &:blank?) && (@future.all? &:blank?) %>
    <h2>Non ci sono eventi in programma</h2>
  <% end %>
</div>
