<% if current_user != @viewer %>
  <h1>Benvenuto nel profilo di <%= @viewer.name %></h1>
<% end %>

<div class="row">
  <% if !@viewer.photo.blank? %>
  <div class="col s12 l6">
    <div class="row">
      <div class="col s12">
        <%= image_tag @viewer.photo, class: "responsive-img" %>
      </div>
    </div>
  </div>
  <% end %>
  <div class="col s12 l6">
    <h3>Informazioni utente</h3>
    <ul class="collection">
      <li class="collection-item"><b>Nome: </b>
        <% if @viewer.name.blank? %>
          Anonimo
        <% else %>
          <%= @viewer.name %>
        <% end %>
       </li>
      <li class="collection-item"><b>E-mail: </b> <%= @viewer.email %> </li>
    </ul>
    <% if current_user == @viewer %>
      <%= link_to "Edit", edit_viewer_path(current_user), class: "wave-light wave-effect btn blue accent-1" %>
    <% end %>
  </div>
</div>

<% if !@events.blank? %>
  <h4>I miei eventi:</h4>

  <div class="row">
    <div class="col s12">
      <ul class="collection">
        <% @events.each do |event| %>
          <li class="collection-item">
            <b><%= event.movie.title %> </b>(<%= event.movie.release_date %>)
            <%= link_to movie_destroy_path(event.movie.id), method: :delete do %>
              <i class="material-icons right">delete_forever</i>
            <% end %>
          <% end %>
        </li>
      </ul>
    </div>
  </div>
  <%= link_to 'Mostra eventi', viewer_events_path(@viewer), class: "wave-light wave-effect btn blue accent-1" %>
<% end %>
