<% @movies.each do |m| %>
<div class="col s12 <%= size %>">
  <div class="card small">
    <div class="card-image waves-effect waves-block waves-light">
      <% if m.poster_path.blank? %>
      <!-- <%= image_tag "game_no_cover.jpg", class: "activator" %> -->
      <% else %>
      <img src="<%= m.poster_path.gsub(/t_thumb/, 't_720p') %>" alt="Photo of the game" class="activator"/>
      <% end %>
    </div>
    <div class="card-content">
      <span class="card-title activator grey-text text-darken-4">
        <div class="col s11 truncate">
          <%= m.title %>
        </div>
        <div class="col s1">
          <i class="material-icons">more_vert</i>
        </div>
      </span>
    </div>
    <div class="card-action">
      <%= link_to 'Show movie page', movie_path(m) %>
    </div>
    <div class="card-reveal">
      <span class="card-title grey-text text-darken-4">
        <%= m.title %>
        <i class="material-icons right">close</i>
      </span>
      <p> <%= m.overview %> </p>
    </div>
  </div>
</div>
<% end %>
